In [1]:
import pandas as pd

In [2]:
df_books = pd.read_csv('/content/bestsellers-with-categories.csv')
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

Creando un función de python

In [4]:
def two_times(value):
  return value * 2

In [9]:
#Apply no ayuda a aplicar la función que hemos definido
df_books['Rating_2'] = df_books['User Rating'].apply(two_times)
df_books.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction,8.8
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction,9.4
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction,9.4
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction,9.4
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction,9.2

Con apply podemos incluso pasar como parámetro funciones de tipo lambda

In [12]:
df_books['Rating_3'] = df_books['User Rating'].apply(lambda x : x * 3)
df_books.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2,Rating_3
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4,14.1
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2,13.8
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4,14.1
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4,14.1
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6,14.4
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction,8.8,13.2
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction,9.4,14.1
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction,9.4,14.1
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction,9.4,14.1
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction,9.2,13.8

Aplicando funciones pero a más de una columna

In [17]:
#De esta manera podemos hacer una función aplicada al dataframe en general. Es importante específicar si hacemos referencia a los nombre de fila o columna con axis
df_books['Rating_Fiction'] = df_books.apply(lambda x : x['User Rating'] * 2 if x['Genre'] == 'Fiction' else x['User Rating'], axis=1)
df_books.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2,Rating_3,Rating_Fiction
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4,14.1,4.7
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2,13.8,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4,14.1,4.7
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4,14.1,9.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6,14.4,4.8
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction,8.8,13.2,8.8
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction,9.4,14.1,9.4
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction,9.4,14.1,9.4
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction,9.4,14.1,4.7
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction,9.2,13.8,9.2